<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registry - Welcome</title>
  </head>
  <body style="background-color: #2e2e2e; color: #898989; font-family: Verdana">
    <div>
      <h2 style="letter-spacing: 3px; font-weight: bolder; font-size: 2rem">
        Welcome to my page
      </h2>
      <p style="font-size: 1.5rem">You have been registred</p>
      <p style="font-size: 1.5rem">Now you can verify your account</p>
      <p style="font-size: 1.5rem">Click link below</p>
      <p style="font-size: 1.25rem">Good luck, <b>Author</b></p>
      <a
        href="{{authLink}}"
        style="
          border: 3px solid #272727;
          border-radius: 10px;
          padding: 5px;
          text-decoration: none;
          background-color: #4b4b4b;
          color: #898989;
          font-size: 2.25rem;
        "
        >Login</a
      >
    </div>
  </body>
</html>
