body {
  overflow-x: hidden;
}

.theme-light {
  transition: 2s;
  background-color: #bbbbbb;
  color: #3e3e3e;
}

a {
  color: #3e3e3e;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  a {
    color: #bbbbbb;
  }
}
.theme-dark {
  transition: 2s;
  color: #bbbbbb;
}
