nav {
  background-color: #242424;
  width: 100%;
  border: 4px solid #303030;
}

nav > ul {
  display: flex;
  justify-content: end;
  margin-right: 50px;
  gap: 10px;
  list-style-type: none;
}

li:hover {
  border-radius: 30px;
  background-color: #656565;
}

nav > ul > li {
  transition: 2s ease-out;
  border-radius: 20px;
  padding: 10px;
  border: 4px solid #303030;
}
