.contact {
  margin-top: -90px;
  margin-right: -114px;
  float: right;
  font-size: 1.25rex;
  width: 25%;
  border: 2px solid black;
  padding: 10px;
}

.footer-nav {
  float: right;
  margin-top: -56px;
  margin-right: 15px;
  width: 100px;
  /* border: 2px solid black;
  border-top: 0px; */
  padding: 5px;
}

.footer-nav ul {
  font-size: 0.95rem;
  list-style: circle;
}
.footer-nav li {
  margin: 5px;
  padding: 2px;
  text-align: center;
  transition: 2s;
}

footer {
  background-color: #1d1d1d;
  clear: both;
  position: relative;
  bottom: 0;
  padding: 10px;
  margin-top: 10px;
  font-size: 1.5rem;
  border: 2px solid black;
  width: 100%;
  height: 190px;
}
