body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.theme-light {
  background-color: #bbbbbb;
  color: #3e3e3e;
}

a {
  color: #3e3e3e;
  text-decoration: none;
}

.theme-dark {
  color: #bbbbbb;
}
