.btn-theme {
  padding: 10px;
  width: 100%;
  height: 100%;
  border: transparent;
  background-color: transparent;
  color: #c1c1c1;
  font-size: 1.5rem;
}

.theme-btn {
  width: 40px;
  height: 30px;
}
