.Registry {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
  background-image: linear-gradient(45deg, #2c2c2c, #525252);
}

.pass-vis-btn-reg-rep,
.pass-vis-btn-reg-pass {
  border: transparent;
  background-color: transparent;
  color: #8c8c8c;
  font-size: 30px;
  padding: 3px;
}

.pass-vis-btn-reg-pass,
.pass-vis-btn-reg-rep {
  position: relative;
  right: 65px;
  bottom: -1px;
}

.RegForm {
  border-radius: 20px;
  background-image: linear-gradient(45deg, #525252, #161616);
  border: 5px solid #666666;
  padding: 5px;
}

input::placeholder {
  color: #eeeeee;
}

input[type="submit"] {
  font-size: 2rem;
  height: 50px;
  color: #c9c9c9;
}

input {
  color: #eeeeee;
  background-color: #222222;
  margin-top: 50px;
  font-size: 1.5rem;
  height: 50px;
  border-radius: 20px;
  border: 2px solid black;
}
